@model Bus_Client.ServiceReference1.Insert_ScheduleInfo
@{
    ViewBag.Title = "FetchBusid";
    Layout = "~/Views/Shared/PageRegistration.cshtml";
}

<h1>FetchBusid</h1>


@using (Html.BeginForm())
{
<table>
    <tr>
        <td>Sid</td>
        <td>@Html.TextBoxFor(x =>x.ScheduleID)</td>
    </tr>
    <tr>
        <td>busid</td>
        <td>
            @Html.DropDownListFor(x =>x.Busid,new SelectList(ViewBag.D,"BusID","BusName"),"select")

        </td>
    </tr>
    <tr>
        <td>routeid</td>
        <td>
            @Html.DropDownListFor(x =>x.Routeid,new SelectList(ViewBag.D1,"Value","Text"),"select")

        </td>
    </tr>


    <tr>
        <td>departure time</td>
        <td>@Html.TextBoxFor(x => x.DepartureTime)</td>
    </tr>
    <tr>
        <td></td>

        <td><input type="submit" /></td>
    </tr>
</table>
    if (ViewBag.msg != null)
    {

        @ViewBag.msg



    }
}
<style>
    table {
        justify-content: center;
        text-align: center;
        align-content: center;
        position: center;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        margin: auto;
    }

    text {
        text-align: center;
        width: 100%;
        background-color: white;
        color: black;
        font-weight: bold;
        border-radius: 20px;
    }

    td {
        font-size: 16px;
        font-weight: bold;
    }

    input {
        margin-top: 10px;
        text-align: center;
        width: 100%;
        padding: 10px 20px;
        background-color: white;
        color: black;
        font-weight: bold;
        font-size: 14px;
        border-radius: 20px;
    }

        input.btn {
            margin-top: 10px;
            text-align: center;
            width: 100%;
            padding: 10px 20px;
            background-color: lightgrey;
            color: black;
            font-weight: bold;
            font-size: 16px;
            border-radius: 20px;
        }

    select {
        margin-top: 10px;
        text-align: center;
        width: 100%;
        padding: 10px 20px;
        background-color: white;
        color: black;
        font-weight: bold;
        font-size: 14px;
        border-radius: 20px;
    }
</style>
