@model Bus_Client.ServiceReference1.Insert_RouteInfo
@{
    ViewBag.Title = "GetRouteInfo";
}

<h2>GetRouteInfo</h2>
@using (Html.BeginForm())
{
    <table>
        <tr>
            <td>RouteId</td>
            <td>@Html.TextBoxFor(x => x.RouteID)</td>
        </tr>

        <tr>
            <td>From</td>
            <td>@Html.TextBoxFor(x => x.RouteFrom)</td>
        </tr>

        <tr>
            <td>To</td>
            <td>@Html.TextBoxFor(x => x.RouteTo)</td>
        </tr>

        <tr>
            <td>Cost</td>
            <td>@Html.TextBoxFor(x => x.RouteCost)</td>
        </tr>


        <tr><td><input type="submit" /></td></tr>
    </table>
    if (ViewBag.msg != null)
    {

        @ViewBag.msg



    }
}

